// Buttons
.btn {
  overflow: hidden;
  padding: 0.9rem 2.4rem;
  border-radius: 0.8rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 160%;
  cursor: pointer;
  column-gap: 1.2rem;
  @include flex(row, nowrap, center, center);
  position: relative;
  transition: 0.4s linear;
}

.b_solid {
  color: $light;
  background: $ocean_blue;
  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 101%;
    top: 0;
    left: 0;
  }
  &:hover {
    z-index: 1;
    &::after {
      width: 101%;
      z-index: -1;
      background: $gradient_blue;
      transition: 0.4s ease-out;
      box-shadow: 0rem 0.2rem 0.6rem rgba(224, 234, 255, 0.16);
    }
  }
}

.b_outline {
  color: $space_blue;
  border: 0.1rem solid $gray_400;
  &:hover {
    background: rgba(224, 234, 255, 0.3);
  }
}

button:hover {
  img {
    transition: 0.4s ease-out;
    transform: translateX(0.5rem);
  }
}

// Card Specialties
.card_specialties {
  background: $light_ocean;
  border-radius: 0.8rem;
  padding: 4rem;
  width: 100%;
  max-width: 36rem;
  height: 26.6rem;
  transition: all 0.4s ease-in;
  h4 {
    margin: 1.6rem 0rem;
  }
  &.active {
    cursor: pointer;
    transition: all 0.4s ease-in;
    border: 1px solid $gray_400;
    box-shadow: 0px 4px 8px rgba(124, 133, 153, 0.16);
  }
  @include responsive(991px) {
    max-width: 33.6rem;
  }
  @include responsive(600px) {
    max-width: 100%;
  }
}

// Card Information
.card_infor {
  width: 100%;
  max-width: 35.8rem;
  border-radius: 0.8rem;
  padding: 4rem;
  background: $light_ocean;
  @include flex(column, nowrap, flex-start, center);
  h4 {
    margin-top: 1.6rem;
  }
  @include responsive(1024px) {
    max-width: 28rem;
  }
  @include responsive(991px) {
    max-width: 33.6rem;
    padding: 2.4rem 4rem;
  }
  @include responsive(740px) {
    max-width: 100%;
  }
}

// Card Professional
.card_p {
  width: 100%;
  max-width: 26.5rem;
  row-gap: 3.2rem;
  @include flex(column, wrap, flex-start, center);
  .p_photo {
    width: 100%;
    height: 35.2rem;
    border-radius: 0.8rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(245, 248, 255, 0.8) 0.01%,
        rgba(255, 255, 255, 0) 60.71%
      );
    }
  }
  .p_name {
    .t_body_lg {
      color: $ocean_blue;
      margin-top: 0.4rem;
    }
  }
  @include responsive(991px) {
    max-width: 17.8rem;
    .p_photo {
      height: 22.4rem;
    }
  }
  @include responsive(414px) {
    max-width: 100%;
    .p_photo {
      height: 34rem;
    }
  }
}
