header {
  width: 100%;
  padding: 3.4rem 0rem;
  background: $light_ocean;
  transition: all 0.3s linear;
  border-bottom: 0.1rem solid $gray_200;
  .container {
    height: 8.5rem;
    @include flex(row, wrap, center, space-between);
    .logo:hover {
      opacity: 0.8;
      cursor: pointer;
      transition: 0.4s ease-in;
    }
    nav {
      @include flex(row, wrap, center, center);
      .menu {
        display: none;
      }
      ._nav {
        margin-right: 20rem;
        ul {
          @include flex(row, wrap, center, center);
          li {
            position: relative;
            &:not(:last-child) {
              margin-right: 4.8rem;
            }
            &::after {
              content: "";
              position: absolute;
              left: 0;
              bottom: -0.2rem;
              width: 0;
              height: 0.2rem;
              background: $ocean_blue;
              transition: 0.4s ease-in;
            }
            &:hover {
              &::after {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
  @include responsive(1024px) {
    .container {
      nav {
        ._nav {
          margin-right: 10rem;
        }
      }
    }
  }
  @include responsive(991px) {
    .container {
      position: relative;
      nav {
        column-gap: 4.8rem;
        flex-direction: row-reverse;
        .menu {
          display: flex;
          .m_hamburger {
            width: 3.6rem;
            height: 3.6rem;
            position: relative;
            transition: 0.4s linear;
            &::before {
              content: "";
              position: absolute;
              top: 1rem;
              left: 0;
              width: 3.6rem;
              height: 0.2rem;
              border-radius: 2rem;
              background: $space_blue;
              transition: 0.4s linear;
            }
            &::after {
              content: "";
              position: absolute;
              top: 2.6rem;
              left: 0;
              width: 3.6rem;
              height: 0.2rem;
              border-radius: 2rem;
              background: $space_blue;
              transition: 0.4s linear;
            }
          }
        }

        ._nav {
          display: none;
          background: $light_space;
          margin: 0;
          padding: 4.8rem;
          position: absolute;
          border-radius: 0.8rem;
          animation: m_open 0.6s ease-in;
          box-shadow: 0rem 0.4rem 0.8rem rgba(124, 133, 153, 0.16);
          // animations
          @keyframes m_open {
            from {
              top: 9rem;
            }
            to {
              top: 10rem;
            }
          }
          ul {
            li {
              &::after {
                width: 4.8rem;
                left: 50%;
                transform: translate(-50%);
              }
            }
          }
        }

        &.active {
          .menu .m_hamburger {
            &::before {
              top: 1.8rem;
              transform: rotate(-135deg);
              transition: 0.4s linear;
            }
            &::after {
              top: 1.8rem;
              transform: rotate(135deg);
              transition: 0.4s linear;
            }
          }
          ._nav {
            display: block;
            top: 10rem;
            right: 2rem;
            z-index: 10;
            ul {
              flex-direction: column;
              row-gap: 2.8rem;
              li {
                &:not(:last-child) {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  @include responsive(768px) {
    .container {
      nav {
        .b_outline {
          display: none;
        }
      }
    }
  }
}

.bgOn {
  z-index: 100;
  position: fixed;
  padding: 0;
  box-shadow: 0rem 0.2rem 0.8rem rgba(124, 133, 153, 0.16);
}
