header {
  width: 100%;
  position: sticky;
  padding: 3.4rem 0rem;
  background: $light_ocean;
  border-bottom: 0.1rem solid $gray_200;
  .container {
    height: 8.5rem;
    @include flex(row, wrap, center, space-between);
    .logo:hover {
      opacity: 0.8;
      cursor: pointer;
      transition: 0.4s ease-in;
    }
    nav {
      column-gap: 4.8rem;
      @include flex(row, wrap, center, space-between);
      .menu {
        display: none;
      }
    }
  }
  @include responsive(991px) {
    .container {
      nav {
        flex-direction: row-reverse;
        .menu {
          display: flex;
          .m_hamburger {
            width: 3.6rem;
            height: 3.6rem;
            position: relative;
            transition: 0.4s linear;
            &::before {
              content: "";
              position: absolute;
              top: 1rem;
              left: 0;
              width: 3.6rem;
              height: 0.2rem;
              background: $space_blue;
            }
            &::after {
              content: "";
              position: absolute;
              top: 2.6rem;
              left: 0;
              width: 3.6rem;
              height: 0.2rem;
              background: $space_blue;
            }
          }
        }

        &.active {
          .menu .m_hamburger {
            &::before {
              top: 1.8rem;
              transform: rotate(-135deg);
              transition: 0.4s linear;
            }
            &::after {
              top: 1.8rem;
              transform: rotate(135deg);
              transition: 0.4s linear;
            }
          }
        }
      }
    }
  }
  @include responsive(768px) {
    .container {
      ._nav {
        .b_outline {
          display: none;
        }
      }
    }
  }
}
