/* Índice 

  1 - Hero
  2 - Specialties
  3 - About
  4 - Information
  5 - Professional
  6 - Depoiment
  7 - Contact

*/

// 1 - Hero
.hero {
  background: $light_ocean;
  padding-top: 9rem;
  .container {
    @include flex(row, nowrap, flex-end, space-between);
    .h_text {
      max-width: 48rem;
      margin-bottom: 25.8rem;
      .tag {
        color: $ocean_blue;
        margin-left: 2.4rem;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 0.7rem;
          left: -2.4rem;
          width: 1.2rem;
          height: 1.2rem;
          background: rgba(15, 233, 22, 1);
          border-radius: 50%;
          animation: cpulse 1s linear infinite;
          // animation
          @keyframes cpulse {
            0% {
              box-shadow: 0 0 0 2px rgba(15, 233, 22, 0.2);
              transform: scale(0.9);
            }
            50% {
              box-shadow: 0 0 0 4px rgba(15, 233, 22, 0.4);
              transform: scale(0.9);
            }
            100% {
              box-shadow: 0 0 0 6px rgba(15, 233, 22, 0.6);
              transform: scale(0.9);
            }
          }
        }
      }
      h1 {
        color: $space_blue;
        width: 48rem;
      }
      .t_body_lg {
        color: $dark_ocean;
        margin-top: 1.6rem;
      }
      .b_solid {
        max-width: 25.4rem;
        margin-top: 3.2rem;
      }
    }
    .i_girl {
      width: 100%;
      max-width: 56.8rem;
      height: 65.9rem;
      position: relative;
      .card_right,
      .card_left {
        max-width: 26.6rem;
        height: 9rem;
        z-index: 1;
        box-shadow: 0px 6.93059px 29.7025px -5.94051px rgba(22, 40, 80, 0.08);
      }
      .card_right {
        position: absolute;
        right: 0%;
        bottom: 13.83%;
      }
      .card_left {
        position: absolute;
        left: 0%;
        bottom: 30.08%;
      }
      .photo_girl {
        position: absolute;
        left: 0;
        bottom: 0;
        max-width: 53.4rem;
        height: 100%;
      }
    }
  }
  @include responsive(991px) {
    .container {
      .h_text {
        margin-bottom: 13.5rem;
        h1 {
          width: 40rem;
        }
      }
      .i_girl {
        height: 42.6rem;
        .card_right,
        .card_left {
          height: 6.8rem;
          max-width: 20rem;
        }
        .card_right {
          right: -3rem;
        }
      }
    }
  }
  @include responsive(768px) {
    .container {
      flex-wrap: wrap;
      justify-content: center;
      .h_text {
        margin-bottom: 8rem;
        h1 {
          width: 100%;
        }
      }
      .i_girl {
        height: 65.9rem;
        .card_right,
        .card_left {
          height: 6.8rem;
          max-width: 20rem;
        }
        .card_right {
          right: 0;
        }
      }
    }
  }

  @include responsive(480px) {
    .container {
      .i_girl {
        margin-top: 3.2rem;
        height: 46rem;
      }
    }
  }
  @include responsive(360px) {
    .container {
      .i_girl {
        height: 40rem;
        .card_right {
          bottom: 10%;
        }
      }
    }
  }
}

// 2 - Specialties
.specialties {
  margin-top: 10rem;
  .container {
    @include flex(column, nowrap, center, center);
    .s_title {
      text-align: center;
      .t_body_lg {
        margin-top: 1.6rem;
        color: $dark_ocean;
        max-width: 42.5rem;
      }
    }
    .s_cards {
      gap: 2.4rem;
      margin-top: 5.6rem;
      @include flex(row, wrap, center, center);
    }
  }
  @include responsive(480px) {
    .container {
      .s_title {
        text-align: left;
      }
    }
  }
}

// 3 - About
.about {
  margin-top: 10rem;
  .container {
    @include flex(row, nowrap, center, space-between);
    .b_clinic {
      width: 100%;
      max-width: 51.4rem;
      height: 52.9rem;
      border-radius: 0.8rem;
      margin-left: 4rem;
      position: relative;
      background: url("../assets/clinica.png") no-repeat center/cover;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -4rem;
        width: 100%;
        max-width: 1.2rem;
        height: 12.5rem;
        background: url("../assets/squars.svg") no-repeat;
      }
    }
    .b_text {
      width: 100%;
      max-width: 41rem;
      margin-right: 4.5rem;
      .t_body_sm {
        color: $ocean_blue;
        margin-bottom: 0.8rem;
      }
      .t_body_lg {
        color: $dark_ocean;
        margin-top: 1.6rem;
      }
      .b_solid {
        max-width: 25.4rem;
        margin-top: 3.2rem;
      }
    }
  }
  @include responsive(1024px) {
    .container {
      .b_clinic {
        max-width: 34rem;
        height: 56.5rem;
        &::before {
          max-width: 1.1rem;
          height: 10.8rem;
        }
      }
    }
  }
  @include responsive(991px) {
    .container {
      .b_clinic {
        margin: 0rem 4rem;
      }
      .b_text {
        margin-right: 0;
      }
    }
  }
  @include responsive(720px) {
    .container {
      flex-direction: column-reverse;
      .b_clinic {
        max-width: 88%;
        height: 36rem;
        margin: 4rem 0rem 0rem 4rem;
        &::before {
          height: 12.5rem;
        }
      }
      .b_text {
        max-width: 100%;
      }
    }
  }
}

// 4 - Information
.information {
  margin-top: 10rem;
  .container {
    @include flex(row, wrap, center, space-between);
    gap: 2.4rem;
  }
}

// 5 - Professional
.professional {
  margin-top: 10rem;
  padding: 12.4rem 0rem;
  background: $light_ocean;
  .container {
    .p_cards {
      margin-top: 5.6rem;
      gap: 13.4rem;
      @include flex(row, wrap, center, space-between);
    }
  }
  @include responsive(1024px) {
    .container {
      .p_cards {
        gap: 13.4rem 7.4rem;
      }
    }
  }
  @include responsive(991px) {
    .container {
      .p_cards {
        gap: 8rem;
      }
    }
  }
  @include responsive(740px) {
    .container {
      .p_cards {
        gap: 2.4rem;
        justify-content: center;
      }
    }
  }
}

// 6 - Depoiment
.depoiment {
  margin-top: 10rem;
  .container {
    text-align: center;
    h2 {
      margin-bottom: 5.6rem;
    }
    .swiper {
      height: 45.9rem;
      @include flex(column, nowrap, flex-end, space-between);
      .swiper-wrapper {
        height: 35.8rem;
        .swiper-slide {
          max-width: 50.4rem;
        }
      }
      .nav_slide {
        width: 100%;
        height: 4.5rem;
        margin-bottom: 0.2rem;
        position: relative;
        @include flex(row-reverse, nowrap, center, space-between);
        .n_arrows {
          display: flex;
          width: 10rem;
          height: 4.5rem;
          position: relative;
          .swiper-button-next,
          .swiper-button-prev {
            width: 4.5rem;
            height: 4.5rem;
            border: 0.1rem solid $ocean_blue;
            border-radius: 0.8rem;
            transition: all 0.2s ease-in-out;
            cursor: pointer;
            pointer-events: all;
            &::after {
              color: transparent;
            }
            &.swiper-button-disabled {
              opacity: 0.2;
            }
          }
          .swiper-button-next {
            right: 0 !important;
            &::after {
              background: url("../assets/icons/icon_arrow_right_brand.svg")
                no-repeat center;
            }
          }
          .swiper-button-prev {
            left: 0 !important;
            &::after {
              background: url("../assets/icons/icon_arrow_left_brand.svg")
                no-repeat center;
            }
          }
        }
        .swiper-pagination {
          width: 20rem;
          bottom: auto;
          left: 50%;
          transform: translate(-50%);
          text-align: left;
          .swiper-pagination-bullet {
            margin: 0;
            width: 1.5rem;
            height: 0.6rem;
            opacity: 1;
            background: $light_space;
            border-radius: 0.8rem;
            transition: all 0.4s ease-in-out;
            &:not(:last-child) {
              margin-right: 0.6rem;
            }
            &-active {
              width: 3.6rem;
              height: 0.6rem;
              border-radius: 0.8rem;
              background: $ocean_blue;
            }
          }
        }
      }
    }
  }
  @include responsive(991px) {
    .container {
      .swiper .nav_slide .swiper-pagination {
        position: relative;
        left: auto;
        transform: none;
      }
    }
  }
}

// 7 - Contact
.contact {
  margin-top: 10rem;
  .container {
    @include flex(row, nowrap, center, space-between);
    .c_infor {
      width: 100%;
      max-width: 42rem;
      .c_text {
        padding-bottom: 4.8rem;
        border-bottom: 0.1rem solid $gray_200;
        .t_body_xs {
          color: $ocean_blue;
          margin-bottom: 0.8rem;
        }
        .t_body_md {
          color: $dark_ocean;
          margin: 1.6rem 0rem 3.2rem 0rem;
        }
        .b_outline {
          max-width: 30rem;
        }
      }
      .c_n_phones {
        margin-top: 4.8rem;
        .c_phones {
          margin-top: 1.6rem;
          @include flex(row, wrap, center, flex-start);
          gap: 1.6rem;
        }
      }
    }
    form {
      width: 100%;
      max-width: 61.6rem;
      padding: 8rem;
      background: $light_ocean;
      border-radius: 0.8rem;
      .form {
        margin-bottom: 1.6rem;
        input,
        textarea {
          margin-top: 0.6rem;
        }
      }
    }
  }
  @include responsive(1024px) {
    .container {
      form {
        padding: 4rem;
        margin-left: 3.2rem;
      }
    }
  }
  @include responsive(740px) {
    .container {
      flex-direction: column;
      form {
        padding: 3.2rem 2.4rem;
        margin: 6.4rem 0rem 0rem 0rem;
      }
    }
  }
}
